{
  "permissions": {
    "allow": [
{{ if not .is_workspace -}}
      "Bash(workspaces list:*)",
      "Bash(./claude-sync)",
{{ end -}}
{{ if .is_workspace -}}
      "Bash(systemctl --user:*)",
{{ end -}}
      "Bash(chmod:*)",
      "Bash(bash:*)",
      "Bash(ssh:*)"
    ]
  }
}
